{{ partial "debug/mark-start" "layouts/partials/footer"  }}

<footer>
    <div class="two-thirds-one-third">
        <div></div>
        <nav class="footer-nav">
            <div>
                <h3>Service</h3>
                <ul>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3>Over deze site</h3>
                <ul>
                    <li><a href="/over-dit-platform">Over dit platform</a></li>
                    <li><a href="/copyright">Copyright</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/cookies">Cookies</a></li>
                    <li><a href="/toegankelijkheid">Toegankelijkheid</a></li>
                    <li><a href="/kwetsbaarheid-melden">Kwetsbaarheid melden</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>

{{ $now := time.Now }}
{{ $date := time.Format ":date_full" $now }}
{{ $time := time.Format ":time_full" $now }}
{{ $buildTimeComment := printf "<!-- build timestamp: %s - %s -->" $date $time }}
{{ $buildTimeComment | safeHTML }}

{{ partial "debug/mark-end"  }}
