/* Color set blue */

:root {
  --sea-blue: rgb(1 104 155);
  --sea-blue-light: rgb(70, 133, 165);
  --sea-blue-dark: rgb(16, 78, 109);

  --sea-blue-background-color: var(--sea-blue);
  --sea-blue-text-color: #ffffff;

  /* Text colors */
  --sea-blue-text-color-dark: #000000;
  --sea-blue-text-color-light: var(--sea-blue-text-color);

  /* Hover */
  --sea-blue-hover-background-color: var(--sea-blue);
  --sea-blue-hover-text-color: var(--sea-blue-text-color);

  /* Disabled */
  --sea-blue-disabled-background-color: var(--sea-blue);
  --sea-blue-disabled-text-color: var(--sea-blue-text-color);

  /* Active */
  --sea-blue-active-background-color: var(--sea-blue);
  --sea-blue-active-text-color: var(--sea-blue-text-color);

  /* Focus */
  --sea-blue-focus-background-color: var(--sea-blue-background-color);
  --sea-blue-focus-text-color: var(--sea-blue-text-color);

  /* Selected */
  --sea-blue-selected-background-color: var(--sea-blue);
  --sea-blue-selected-text-color: var(--sea-blue-text-color);

  /* Tint 1 */
  --sea-blue-tint-1: var(--sea-blue);
  --sea-blue-tint-1-background-color: var(--sea-blue-tint-1);
  --sea-blue-tint-1-text-color: var(--sea-blue-text-color);

  /* Ghost */
  --sea-blue-ghost-background-color: #ffffff;
  --sea-blue-ghost-text-color: var(--sea-blue);

  /* Branding color */
  --branding-color-1: var(--sea-blue);
  --branding-color-1-active-background-color: var(--sea-blue-active-background-color);
  --branding-color-1-active-text-color: var(--sea-blue-active-text-color);
  --branding-color-1-background-color: var(--sea-blue-background-color);
  --branding-color-1-disabled-background-color: var(--sea-blue-disabled-background-color);
  --branding-color-1-disabled-text-color: var(--sea-blue-disabled-text-color);
  --branding-color-1-focus-background-color: var(--sea-blue-focus-background-color);
  --branding-color-1-focus-text-color: var(--sea-blue-focus-text-color);
  --branding-color-1-ghost-background-color: var(--sea-blue-ghost-background-color);
  --branding-color-1-ghost-text-color: var(--sea-blue-ghost-text-color);
  --branding-color-1-hover-background-color: var(--sea-blue-hover-background-color);
  --branding-color-1-hover-text-color: var(--sea-blue-hover-text-color);
  --branding-color-1-selected-background-color: var(--sea-blue-selected-background-color);
  --branding-color-1-selected-text-color: var(--sea-blue-selected-text-color);
  --branding-color-1-selective-background-color: var(--sea-blue-selective-background-color);
  --branding-color-1-text-color: var(--sea-blue-text-color);
  --branding-color-1-tint-1-background-color: var(--sea-blue-tint-1-background-color);
  --branding-color-1-tint-1-text-color: var(--sea-blue-tint-1-text-color);
}
