{{ partial "debug/mark-start" "layouts/partials/footer"  }}

<footer>
    <div class="two-thirds-one-third">
        <div></div>
        <nav class="footer-nav">
            <div>
                <h3>Service</h3>
                <ul>
                    <li><a href="https://www.rijksoverheid.nl/contact">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3>Over deze site</h3>
                <ul>
                    <li><a href="https://www.rijksoverheid.nl/copyright">Copyright</a></li>
                    <li><a href="https://www.rijksoverheid.nl/privacy">Privacy</a></li>
                    <li><a href="https://www.rijksoverheid.nl/cookies">Cookies</a></li>
                    <li><a href="https://www.rijksoverheid.nl/toegankelijkheid">Toegankelijkheid</a></li>
                    <li><a href="https://www.rijksoverheid.nl/kwetsbaarheid-melden">Kwetsbaarheid melden</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>

{{ $now := time.Now }}
{{ $date := time.Format ":date_full" $now }}
{{ $time := time.Format ":time_full" $now }}
{{ $buildTimeComment := printf "<!-- build timestamp: %s - %s -->" $date $time }}
{{ $buildTimeComment | safeHTML }}

{{ partial "debug/mark-end"  }}
