{{ partial "debug/mark-start" "layouts/partials/header"  }}
<header>
   {{ partial "logo"  }}

    {{ if .IsHome }}
        <nav aria-label="Hoofdnavigatie">
            <div>
                <ul>
                    {{ $homeSvg := resources.Get "images/home.svg" }}
                    <li><a href="{{ $.Site.BaseURL }}/" aria-current="page"><img src="{{ $homeSvg.Permalink }}" class="home">Home</a></li>
                </ul>
            </div>
        </nav>
    {{ else }}
        <nav aria-label="Kruimelpad" class="breadcrumb-bar">

            <div>
                <ul>
                    {{- range .Ancestors.Reverse }}
                        {{ if .IsHome }}
                        {{ $homeSvg := resources.Get "images/home-black.svg" }}
                        <li><a href="{{ $.Site.BaseURL }}"><img src="{{ $homeSvg.Permalink }}" class="home">Home</a></li>
                        {{ else if .Title }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    {{- end }}
                    {{ if .IsHome }}
                        <li>Home</li>
                        {{ else if .Title }}
                        <li>{{ .Title }}</li>
                    {{ end }}
                </ul>
            </div>
        </nav>
        {{- end -}}
</header>

{{ partial "menu.html" (dict "menuID" "main" "page" .) }}

{{ partial "debug/mark-end"  }}
