{{ define "main" }}
{{ partial "debug/mark-start" "layouts/sitemap"  }}

<section>
  <div>

    {{ $organisations := where $.Site.Pages "Type" "organisation" }}

    <ul>
      {{ range $org := $organisations }}
      <li>
        <strong><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></strong>
        <ul>
          {{- range .Pages }} {{/* Verwerkingen list page */}}
            {{- range .Pages }} {{/* Verwerkingen single page */}}
              <li>
                <a href="{{ .RelPermalink }}" >
                  {{.Params.data.search.title}}
                </a>
              </li>
            {{- end }}
          {{- end }}
        </ul>
      </li>
      {{ end }}
    </ul>

  </div>
</section>

{{ partial "debug/mark-end" }}
{{ end }}
