.processing-record-list {
    ul {
        padding-left: 0;
    }
    a {
        text-decoration: none;

        &:hover h3 {
            text-decoration: underline;
        }
    }
    li {
        margin-bottom: 15px;
    }

    &__details {
        font-size: 1rem;

        font-size: var(--body-text-small-font-size);
        font-weight: var(--body-text-small-font-weight);
        line-height: var(--body-text-small-line-height);
        color: var(--body-text-small-color);
    }
}
