

{{ define "main" }}
{{ partial "debug/mark-start" "layouts/index"  }}

{{ $organisations := where $.Site.Pages "Type" "organisation" }}


<section class="hero hero-main">
  {{ $heroImage := resources.Get "images/home-hero.jpeg" }}
  {{ $heroImage := $heroImage.Process "fill 1920x400 webp" }}
  <img src="{{ $heroImage.Permalink }}" alt="Krimpenerwaard" width="{{ $heroImage.Width }}" height="{{ $heroImage.Height }}" />
  {{ partial "hero-links" }}
</section>


    <section>
      <div>
        {{ .Content }}
      </div>
    </section>

    <section>
      <div>
        <h2>Organisaties</h2>

        <div class="column-3">
          {{ range $organisations }}
            <a href="{{ .RelPermalink }}">
              <div role="group">
                {{ $imageAlt := .LinkTitle }}
                {{- with or (.Resources.Get "poster.jpeg") (resources.Get "images/organisation-fallback.jpeg") }}
                  {{- with .Fill "300x192 Center webp" }}
                    <img src="{{ .Permalink }}" alt="{{ $imageAlt }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy"/>
                  {{- end }}
                {{- end }}
                <h4>{{ .LinkTitle }}</h4>
              </div>
            </a>
          {{ end }}
        </div>
      </div>
    </section>


{{ partial "debug/mark-end" }}
{{ end }}
