

{{ define "main" }}
{{ partial "debug/mark-start" "layouts/index"  }}

{{ $organisations := where $.Site.Pages "Type" "organisation" }}


<section class="hero">
  {{ $heroImage := resources.Get "images/home-hero.jpeg" }}
  {{ $heroImage := $heroImage.Process "fill 1920x400 webp" }}
  <img src="{{ $heroImage.Permalink }}" alt="Hero image" width="{{ $heroImage.Width }}" height="{{ $heroImage.Height }}" />
  {{ partial "hero-links" }}
</section>

{{ $trimmed_content := strings.TrimRight "\n" .Content }}
{{ if $trimmed_content }}
<section>
  <div>
      {{ .Content }}
  </div>
</section>
{{ end }}

<section>
  <div>
    <div class="column-3">
      {{ $nodes := where $.Site.Pages "Type" "organisation" }}
      {{ $nodes = where $nodes "Params.depth" 0 }}
      {{ range $nodes }}
        <a href="{{ .RelPermalink }}">
          <div role="group">
            {{ $imageAlt := .LinkTitle }}
            {{- with or (.Resources.Get "poster.jpeg") (resources.Get "images/organisation-fallback.jpeg") }}
              {{- with .Fill "300x192 Center webp" }}
                <img src="{{ .Permalink }}" alt="{{ $imageAlt }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy"/>
              {{- end }}
            {{- end }}
            <h4>{{ .LinkTitle }}</h4>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "debug/mark-end" }}
{{ end }}
