.ro-logo {
  line-height: 1;
  align-items: end;

  &:hover {
    line-height: 1;
  }

  span {
    margin-bottom: 0.75rem;
  }
}

body {
  header {
    -webkit-font-smoothing: antialiased;

    nav,
    nav.breadcrumb-bar {
      min-height: 75px;

      div {
        margin: auto;
        max-width: 72rem;
        padding: 0;

        ul {
          li {
            line-height: 1.125rem;

            a {
              &:hover {
                text-decoration: underline;
              }

              &.current {
                font-weight: 700;
              }

              img.home {
                width: 22px;
                height: 28px;
                padding: 10px;
              }
            }
          }
        }
      }
    }

    nav.breadcrumb-bar {
      background-color: rgb(243 243 243);

      div ul li,
      div ul li a[aria-current=page],
      div ul li a:visited,
      div ul li a[aria-current=page]:visited {
        color: #000;
      }
    }
  }

  .breadcrumb-bar ul li {
    --header-navigation-white-space: normal;
  }

  footer {
    justify-content: start;
    padding-bottom: 4rem;
    -webkit-font-smoothing: antialiased;

    h1 {
      font-size: 1.875rem;
      font-weight: 700;
    }

    nav.footer-nav {
      display: flex;
      column-gap: 5rem;
    }
  }
}
