/* Button ghost */

:root {
  /* Base */
  --button-ghost-background-color: var(--branding-color-1-ghost-background-color);
  --button-ghost-text-color: var(--branding-color-1-ghost-text-color);
  --button-ghost-border-color: var(--branding-color-1);
  --button-ghost-border-width: 2px;
  --button-ghost-border-style: solid;

  /* Hover */
  --button-ghost-hover-background-color: var(--branding-color-1-background-color);
  --button-ghost-hover-text-color: var(--branding-color-1-text-color);

  /* Active */
  --button-ghost-active-background-color: var(--branding-color-1-active-background-color);
  --button-ghost-active-text-color: var(--branding-color-1-active-text-color);
  --button-ghost-active-border-width: var(--button-base-border-width);
  --button-ghost-active-border-style: var(--button-base-border-style);
  --button-ghost-active-border-color: var(--branding-color-1-active-background-color);

  /* Focus */
  --button-ghost-focus-background-color: var(--branding-color-1-focus-background-color);
  --button-ghost-focus-text-color: var(--branding-color-1-focus-text-color);
  --button-ghost-focus-border-width: var(--button-base-border-width);
  --button-ghost-focus-border-style: var(--button-base-border-style);
  --button-ghost-focus-border-color: var(--branding-color-1-focus-background-color);

  /* Selected */
  --button-ghost-selected-background-color: var(--branding-color-1-selected-background-color);
  --button-ghost-selected-text-color: var(--branding-color-1-selected-text-color);
  --button-ghost-selected-border-width: var(--button-base-border-width);
  --button-ghost-selected-border-style: var(--button-base-border-style);
  --button-ghost-selected-border-color: var(--branding-color-1-selected-background-color);

  /* Disabled */
  --button-ghost-disabled-background-color: var(--branding-color-1-disabled-background-color);
  --button-ghost-disabled-text-color: var(--branding-color-1-disabled-text-color);
  --button-ghost-disabled-border-width: var(--button-base-border-width);
  --button-ghost-disabled-border-style: var(--button-base-border-style);
  --button-ghost-disabled-border-color: var(--branding-color-1-disabled-background-color);
}
